apiVersion: v1
kind: ConfigMap
metadata:
  name: kratos
  namespace: secure
  annotations:
    argocd.argoproj.io/sync-wave: "50"
data:
  kratos.yml: |
    dsn: ${DSN}

    serve:
      public:
        base_url: https://kratos.archpad.pro
        port: 4433
        cors:
          enabled: true
          allowed_origins:
            - https://portal.archpad.pro
            - https://kratos.archpad.pro
            - https://hydra.archpad.pro
          allowed_methods:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          allowed_headers:
            - Authorization
            - Cookie
            - Content-Type
          exposed_headers:
            - Content-Type
            - Set-Cookie

      admin:
        base_url: http://kratos:4434/
        host: 0.0.0.0
        port: 4434

    selfservice:
      default_browser_return_url: https://portal.archpad.pro/
      allowed_return_urls:
        - https://portal.archpad.pro/
      methods:
        password:
          enabled: true
      flows:
        login:
          ui_url: https://portal.archpad.pro/sign-in
          lifespan: 1h
          style: unified
        registration:
          ui_url: https://portal.archpad.pro/sign-up
          enabled: true
          enable_legacy_one_step: false
          lifespan: 1h
          style: unified
        settings:
          ui_url: https://portal.archpad.pro/settings
          lifespan: 1h
          privileged_session_max_age: 1h
          required_aal: highest_available
        recovery:
          enabled: true
          lifespan: 1h
          notify_unknown_recipients: false
          use: code
          ui_url: https://portal.archpad.pro/recovery
        verification:
          ui_url: https://portal.archpad.pro/verify
          enabled: true
          lifespan: 1h
          notify_unknown_recipients: false
          use: code

    identity:
      default_schema_id: default
      schemas:
        - id: default
          url: file:///etc/config/kratos/identities/default.schema.json

    cookies:
      domain: .archpad.pro
      path: /
      same_site: Lax
      secure: "auto"

    log:
      level: info
      format: json

    secrets:
      default:
        - ${KRATOS_SECRET}

    session:
      lifespan: 720h

    # Email delivery (verification / recovery codes, etc.)
    courier:
      smtp:
        connection_uri: ${SMTP_CONNECTION_URI}
        from_address: ${SMTP_FROM_ADDRESS}
