# ----- Compose project -----
COMPOSE_PROJECT_NAME=archpad

# ----- Hosts (Traefik routes) -----
APP_HOST=portal.localhost
HASURA_HOST=api.localhost
STRAPI_HOST=cms.localhost
AUTH_HOST=auth.localhost
TRAEFIK_DASHBOARD_HOST=proxy.localhost
MAILHOG_HOST=mail.localhost
MINIO_HOST=storage.localhost
MINIO_CONSOLE_HOST=minio.localhost
MINIO_S3_HOST=storage.localhost
PROMETHEUS_HOST=prometheus.localhost
GRAFANA_HOST=grafana.localhost
PG_HOST=pg.localhost
PGADMIN_HOST=pgadmin.localhost
TOLGEE_HOST=tolgee.localhost

# ----- Postgres superuser -----
POSTGRES_USER=postgres
POSTGRES_PASSWORD=ASGbyhv1tV3uXr6FupksE8oV
PG_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@local.net
PGADMIN_DEFAULT_PASSWORD=admin

# ----- App DBs & users -----
PROJECT_DB=archpad
PROJECT_DB_HOST=127.0.0.1
PROJECT_DB_USER=archpad_user
PROJECT_DB_PASS=xlpcs1lEM7U9FFBwamqnBRIk

HASURA_DB=hasura_db
HASURA_DB_USER=hasura
HASURA_DB_PASS=xlpcs1lEM7U9FFBwamqnBRIk

STRAPI_DB_CLIENT=postgres
STRAPI_DB_HOST=127.0.0.1
STRAPI_DB=strapi_db
STRAPI_DB_USER=strapi
STRAPI_DB_PASS=1GfLZzTAwVblTThfi8szS2PA

KEYCLOAK_DB=keycloak_db
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASS=ds7I0Db23PykEMadxRQ1Iz2X

TOLGEE_DB=tolgee_db
TOLGEE_DB_USER=tolgee
TOLGEE_DB_PASS=ds7I0Db23PykEMadxRQ1Iz2X
TOLGEE_ADMIN_USER=tolgee-admin
TOLGEE_ADMIN_PASS=ds7I0Db23PykEMadxRQ1Iz2X

# ----- Hasura / OIDC -----
HASURA_ADMIN_SECRET=lvtrX69YsvhQhlsYYEq1IkIWl0csKw0oSzXe

# ----- Keycloak admin -----
KEYCLOAK_REALM=archpad
KEYCLOAK_AUDIENCE=archpad-portal
KEYCLOAK_CLIENT_SECRET=4oG5JkhLBhSL1L41VimM36bc70YNOerv
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=qXG41Pw0m23941k4pStTjC0N

# ----- NextAuth (Next.js) -----
NEXTAUTH_URL=http://app.localhost
NEXTAUTH_SECRET=cWd3IImq3dDhB8SLJ0D7pwmQF4RjDXBlW5q4

# ----- MinIO (Strapi uploads) -----
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=7niuH7ZMN15df8tWE8UZrJXe
MINIO_BUCKET=archpad-content-uploads
MINIO_STRAPI_USER=
MINIO_STRAPI_PASSWORD=
MINIO_PORTAL_USER=
MINIO_PORTAL_PASSWORD=

# (опционально, если включишь метрики в compose)
# MINIO_PROMETHEUS_AUTH_TYPE=public

# ----- Strapi secrets -----
STRAPI_APP_KEYS=mGUEO2M2v5KPboS1zQBd5A==,eF0h2AMo4ig8faaVWvV/6A==,0iSXeW29k0NICvbXI6kY6w==,XAU6NIMt/1Agup23di76Pg==
STRAPI_ADMIN_JWT_SECRET=FQE8m4nc7Ew16xytmzMmEA==
#STRAPI_JWT_SECRET=changeme_jwt
STRAPI_API_TOKEN_SALT=6ISx/kLFlPIMujLF//9zug==
TRANSFER_TOKEN_SALT=jnxrATNLLTENPRSkENXg1w==
ENCRYPTION_KEY=FAaXy58MxeoTdiu23nANbQ==

# ----- Strapi upload provider (S3 via MinIO) -----
STRAPI_UPLOAD_PROVIDER=aws-s3
AWS_S3_ENDPOINT_INTERNAL=http://minio:9000
AWS_S3_REGION=us-east-1
AWS_S3_FORCE_PATH_STYLE=true
AWS_S3_PUBLIC_BASE_URL=http://${MINIO_S3_HOST}
AWS_S3_SIGNED_URL_TTL=900

# Портал (подписание ссылок)
MEDIA_S3_ENDPOINT=http://storage.localhost
MEDIA_S3_REGION=us-east-1
MEDIA_S3_BUCKET=${MINIO_BUCKET}
MEDIA_S3_ACCESS_KEY_ID=${MINIO_PORTAL_USER}
MEDIA_S3_SECRET_ACCESS_KEY=${MINIO_PORTAL_PASSWORD}
MEDIA_S3_SIGNED_URL_TTL=300

