apiVersion: v1
kind: ConfigMap
metadata:
  name: keycloak-realm
  namespace: secure
  annotations:
    argocd.argoproj.io/sync-wave: "47"
data:
  archpad-realm.json: |
    {
      "realm": "archpad",
      "enabled": true,
      "displayName": "Archpad",
      "registrationAllowed": false,
      "loginWithEmailAllowed": true,
      "duplicateEmailsAllowed": false,
      "resetPasswordAllowed": true,
      "rememberMe": true,
      "actionTokenGeneratedByAdminLifespan": 3600,
      "actionTokenGeneratedByUserLifespan": 3600,
      "clients": [
        {
          "clientId": "archpad-portal",
          "name": "archpad-portal",
          "protocol": "openid-connect",
          "publicClient": false,
          "standardFlowEnabled": true,
          "implicitFlowEnabled": false,
          "directAccessGrantsEnabled": true,
          "serviceAccountsEnabled": false,
          "redirectUris": [
            "https://portal.archpad.pro/*",
            "http://localhost:3000/*"
          ],
          "webOrigins": [
            "https://portal.archpad.pro",
            "http://localhost:3000"
          ]
        },
        {
          "clientId": "portal-admin",
          "name": "portal-admin",
          "protocol": "openid-connect",
          "publicClient": false,
          "standardFlowEnabled": false,
          "implicitFlowEnabled": false,
          "directAccessGrantsEnabled": false,
          "serviceAccountsEnabled": true
        },
        {
          "clientId": "api",
          "name": "api",
          "protocol": "openid-connect",
          "publicClient": false,
          "standardFlowEnabled": false,
          "implicitFlowEnabled": false,
          "directAccessGrantsEnabled": false,
          "serviceAccountsEnabled": true
        }
      ],
      "users": [
        {
          "username": "service-account-portal-admin",
          "enabled": true,
          "serviceAccountClientId": "portal-admin",
          "clientRoles": {
            "realm-management": [
              "view-users",
              "manage-users"
            ]
          }
        }
      ]
    }
