apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-storage-pv
  annotations:
    argocd.argoproj.io/sync-wave: "20"
spec:
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: hostpath
  hostPath:
    path: /var/lib/k8s-data/grafana
    type: DirectoryOrCreate
  # nodeAffinity не требуется для hostpath StorageClass
  # PV будет привязан к любой ноде, где запущен под
