apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-datasources
  namespace: monitoring
data:
  prometheus.yaml: |
    apiVersion: 1
    datasources:
      - name: Prometheus
        uid: prometheus
        type: prometheus
        access: proxy
        # Для kube-prometheus-stack с releaseName "prometheus" имя сервиса: prometheus-kube-prometheus-prometheus
        # Если сервис еще не готов, можно использовать короткое имя после создания сервиса
        # Grafana runs in `monitoring` namespace, so use short service name.
        url: http://prometheus:9090
        isDefault: true
        editable: true
        jsonData:
          timeInterval: "15s"
          httpMethod: "POST"

  loki.yaml: |
    apiVersion: 1
    datasources:
      - name: Loki
        uid: loki
        type: loki
        access: proxy
        url: http://loki:3100
        editable: true