apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana
  namespace: monitoring
  annotations:
    vault.hashicorp.com/agent-inject: "true"
    vault.hashicorp.com/agent-inject-secret-grafana-admin: "kv/data/archpad/demo/grafana/admin"
    vault.hashicorp.com/agent-inject-template-grafana-admin: |
      {{- with secret "kv/data/archpad/demo/grafana/admin" }}
      export GRAFANA_ADMIN_USER="{{ .Data.data.GRAFANA_ADMIN_USER }}"
      export GRAFANA_ADMIN_PASSWORD="{{ .Data.data.GRAFANA_ADMIN_PASSWORD }}"
      {{- end }}
    vault.hashicorp.com/role: "platform"
