apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-storage
  namespace: monitoring
  annotations:
    argocd.argoproj.io/sync-wave: "21"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  # Используем hostpath StorageClass (как для Vault)
  # Не указываем storageClassName, чтобы использовать PV напрямую
  # storageClassName: hostpath
