apiVersion: v1
kind: ConfigMap
metadata:
  name: oathkeeper
  namespace: secure
  annotations:
    argocd.argoproj.io/sync-wave: "50"
data:
  config.yml: |
    serve:
      proxy:
        port: 4455
      api:
        port: 4456

    log:
      level: info

    access_rules:
      matching_strategy: regexp
      repositories:
        - file:///etc/oathkeeper/access-rules.yml

    # Аутентификаторы, которые мы включаем
    authenticators:
      anonymous:
        enabled: true
        config:
          subject: guest
      oauth2_introspection:
        enabled: true
        config:
          introspection_url: http://hydra:4445/oauth2/introspect
          scope_strategy: exact
          preserve_host: false
          pre_authorization:
            enabled: true
            client_id: ${ORY_CLIENT_ID}
            client_secret: ${ORY_CLIENT_SECRET}
            scope:
              - introspect
            token_url: http://hydra:4444/oauth2/token
          token_from:
            header: Authorization
          retry:
            give_up_after: 1s
            max_delay: 100ms
          cache:
            enabled: false
            ttl: 60s
            max_cost: 100000000

    authorizers:
      allow:
        enabled: true

    mutators:
      header:
        enabled: true
        config:
          headers:
            X-Archpad-User-Id: "{{ print .Subject }}"
