apiVersion: v1
kind: ConfigMap
metadata:
  name: oathkeeper
  namespace: secure
  annotations:
    argocd.argoproj.io/sync-wave: "50"
data:
  config.yml: |
    serve:
      proxy:
        port: 4455
      api:
        port: 4456

    log:
      level: info

    access_rules:
      matching_strategy: regexp
      repositories:
        - file:///etc/oathkeeper/access-rules.yml

    # Аутентификаторы, которые мы включаем
    authenticators:
      anonymous:
        enabled: true
        config:
          subject: guest
      jwt:
        enabled: true
        config:
          # NOTE: Oathkeeper validates config schema before any env expansion,
          # so jwks_urls must be a literal valid URI.
          jwks_urls:
            - http://keycloak:8080/realms/archpad/protocol/openid-connect/certs
          token_from:
            header: Authorization

    authorizers:
      allow:
        enabled: true

    mutators:
      header:
        enabled: true
        config:
          headers:
            X-Archpad-User-Id: "{{ print .Subject }}"
