apiVersion: v1
kind: ConfigMap
metadata:
  name: hydra
  namespace: secure
  annotations:
    argocd.argoproj.io/sync-wave: "50"
data:
  hydra.yml: |
    version: v25.4.0

    dsn: ${DSN}

    log:
      level: info
      leak_sensitive_values: true

    serve:
      cookies:
        same_site_mode: Lax
      public:
        host: 0.0.0.0
        port: 4444
        cors:
          enabled: true
          allowed_origins:
            - https://portal.archpad.pro
            - https://auth.archpad.pro
            - https://authz.archpad.pro
            - https://api.archpad.pro
          allowed_methods:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          allowed_headers:
            - Authorization
            - Content-Type
            - Cookie
          exposed_headers:
            - Content-Type
            - Set-Cookie
      admin:
        host: 0.0.0.0
        port: 4445
        cors:
          enabled: true
          allowed_origins:
            - https://portal.archpad.pro
          allowed_methods:
            - GET
            - POST
            - PUT
            - PATCH
            - DELETE
          allowed_headers:
            - Authorization
            - Content-Type
            - Cookie

    secrets:
      system:
        - ${SECRETS_SYSTEM}

    urls:
      self:
        issuer: https://authz.archpad.pro
      login: https://portal.archpad.pro/hydra/login
      consent: https://portal.archpad.pro/hydra/consent
      logout: https://portal.archpad.pro/logout
      error: https://portal.archpad.pro/error
      post_logout_redirect: https://portal.archpad.pro/

    strategies:
      access_token: opaque
      scope: exact

    oauth2:
      expose_internal_errors: true
      session:
        encrypt_at_rest: true
      hashers:
        algorithm: pbkdf2
        pbkdf2:
          iterations: 25000

    ttl:
      login_consent_request: 10m
      access_token: 15m
      refresh_token: 720h
      id_token: 15m
      auth_code: 10m
