apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Проект Argo
  - projects/platform.project.yaml

  # Apps (дочерние ArgoCD Applications)
  - apps/traefik.app.yaml
  - apps/vault.app.yaml

  # После Traefik CRD
  - apps/traefik-redirect-to-https.middleware.yaml
  - apps/traefik-dashboard-basicauth-secret.yaml
  - apps/traefik-dashboard-basicauth.middleware.yaml
  - apps/traefik-dashboard.ingressroute.yaml
  - apps/traefik-dashboard-http.ingressroute.yaml
  - apps/argocd.middleware.yaml
  - apps/argocd.ingressroute.yaml

  # RBAC для cert-manager TimeWeb webhook (после cert-manager аддона)
  - apps/cert-manager-timeweb-webhook-rbac.yaml

  # Серты (после cert-manager + webhook, которые вы ставите аддоном)
  - apps/issuer-timeweb.clusterissuer.yaml
  - apps/wildcard-argocd.certificate.yaml

  # Vault (после сертификатов)
  - apps/vault.middleware.yaml
  - apps/vault.ingressroute.yaml
