apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # Проект Argo
  - projects/platform.project.yaml

  # Apps (дочерние ArgoCD Applications)
  - apps/traefik/traefik.app.yaml
  - apps/vault/vault.app.yaml

  # После Traefik CRD
  - apps/traefik/traefik-redirect-to-https.middleware.yaml
  - apps/traefik/traefik-dashboard-basicauth-secret.yaml
  - apps/traefik/traefik-dashboard-basicauth.middleware.yaml
  - apps/traefik/traefik-dashboard-root-redirect.middleware.yaml
  - apps/traefik/traefik-dashboard.ingressroute.yaml
  - apps/traefik/traefik-dashboard-http.ingressroute.yaml
  - apps/argocd/argocd.middleware.yaml
  - apps/argocd/argocd.ingressroute.yaml

  # RBAC для cert-manager TimeWeb webhook (после cert-manager аддона)
  - apps/tls/cert-manager-timeweb-webhook-rbac.yaml

  # Серты (после cert-manager + webhook, которые вы ставите аддоном)
  - apps/tls/issuer-timeweb.clusterissuer.yaml
  - apps/argocd/argocd-wildcard.certificate.yaml

  # Vault (после сертификатов)
  - apps/vault/storageclass-hostpath.yaml
  - apps/vault/persistentvolume-hostpath.yaml
  - apps/vault/vault.middleware.yaml
  - apps/vault/vault-http.ingressroute.yaml
  - apps/vault/vault.ingressroute.yaml

  # pgAdmin (после сертификатов и vault)
  - apps/pgadmin/pgadmin.secret.yaml
  - apps/pgadmin/pgadmin.configmap.yaml
  - apps/pgadmin/pgadmin.deployment.yaml
  - apps/pgadmin/pgadmin.service.yaml
  - apps/pgadmin/pgadmin-redirect-to-https.middleware.yaml
  - apps/pgadmin/pgadmin-http.ingressroute.yaml
  - apps/pgadmin/pgadmin.ingressroute.yaml

  # Ory (после сертификатов и vault)
  # ServiceAccounts
  - apps/ory/kratos/kratos.serviceaccount.yaml
  - apps/ory/hydra/hydra.serviceaccount.yaml
  - apps/ory/oathkeeper/oathkeeper.serviceaccount.yaml

  # ConfigMaps
  - apps/ory/kratos/kratos.configmap.yaml
  - apps/ory/kratos/kratos-identity-schema.configmap.yaml
  - apps/ory/hydra/hydra.configmap.yaml
  - apps/ory/hydra/hydra-init-client.configmap.yaml
  - apps/ory/oathkeeper/oathkeeper.configmap.yaml
  - apps/ory/oathkeeper/oathkeeper-access-rules.configmap.yaml

  # Migrations (Jobs)
  - apps/ory/kratos/kratos-migrate.job.yaml
  - apps/ory/hydra/hydra-migrate.job.yaml

  # Deployments и Services
  - apps/ory/kratos/kratos.deployment.yaml
  - apps/ory/kratos/kratos.service.yaml
  - apps/ory/hydra/hydra.deployment.yaml
  - apps/ory/hydra/hydra.service.yaml
  - apps/ory/oathkeeper/oathkeeper.deployment.yaml
  - apps/ory/oathkeeper/oathkeeper.service.yaml

  # Init клиентов Hydra (PostSync hook)
  - apps/ory/hydra/hydra-init-client.job.yaml

  # Middlewares и IngressRoutes
  - apps/ory/kratos/kratos.middleware.yaml
  - apps/ory/kratos/kratos.ingressroute.yaml
  - apps/ory/hydra/hydra.middleware.yaml
  - apps/ory/hydra/hydra.ingressroute.yaml
  - apps/ory/oathkeeper/oathkeeper.middleware.yaml
  - apps/ory/oathkeeper/oathkeeper.ingressroute.yaml
