apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # GitLab Repository Credentials (должен быть первым, чтобы ArgoCD мог синхронизировать)
  - repo-creds/gitlab-repo-creds.secret.yaml
  
  # Проект Argo
  - projects/platform.project.yaml

  # Apps (дочерние ArgoCD Applications)
  - apps/traefik/traefik.app.yaml
  - apps/vault/vault.app.yaml
  - apps/ory/kratos/kratos.app.yaml
  - apps/ory/hydra/hydra.app.yaml
  - apps/ory/oathkeeper/oathkeeper.app.yaml

  # После Traefik CRD
  - apps/traefik/traefik-redirect-to-https.middleware.yaml
  - apps/traefik/traefik-dashboard-basicauth-secret.yaml
  - apps/traefik/traefik-dashboard-basicauth.middleware.yaml
  - apps/traefik/traefik-dashboard-root-redirect.middleware.yaml
  - apps/traefik/traefik-dashboard.ingressroute.yaml
  - apps/traefik/traefik-dashboard-http.ingressroute.yaml
  - apps/argocd/argocd.middleware.yaml
  - apps/argocd/argocd.ingressroute.yaml

  # RBAC для cert-manager TimeWeb webhook (после cert-manager аддона)
  - apps/tls/cert-manager-timeweb-webhook-rbac.yaml

  # Серты (после cert-manager + webhook, которые вы ставите аддоном)
  - apps/tls/issuer-timeweb.clusterissuer.yaml
  - apps/argocd/argocd-wildcard.certificate.yaml

  # Vault (после сертификатов)
  - apps/vault/storageclass-hostpath.yaml
  - apps/vault/persistentvolume-hostpath.yaml
  - apps/vault/vault.middleware.yaml
  - apps/vault/vault-http.ingressroute.yaml
  - apps/vault/vault.ingressroute.yaml

  # pgAdmin (после сертификатов и vault)
  - apps/pgadmin/pgadmin.secret.yaml
  - apps/pgadmin/pgadmin.configmap.yaml
  - apps/pgadmin/pgadmin.deployment.yaml
  - apps/pgadmin/pgadmin.service.yaml
  - apps/pgadmin/pgadmin-redirect-to-https.middleware.yaml
  - apps/pgadmin/pgadmin-http.ingressroute.yaml
  - apps/pgadmin/pgadmin.ingressroute.yaml

