apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: platform
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 26.0.0
    helm:
      values: |
        deployment:
          replicas: 1

        providers:
          kubernetesCRD:
            enabled: true
            allowCrossNamespace: true
          kubernetesIngress:
            enabled: true

        ingressClass:
          enabled: true
          isDefaultClass: true
          name: traefik

        ports:
          web:
            port: 80
            enabled: true
          websecure:
            port: 443
            enabled: true

        service:
          type: LoadBalancer

        additionalArguments:
          - "--api.dashboard=true"
          - "--entryPoints.web.address=:80"
          - "--entryPoints.websecure.address=:443"
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOption:
      - CreateNamespace=true
